@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
    font-family: "Japan";
    src: url("/fonts/Japan.ttf");
    font-weight: 700;
}

body {
    background: linear-gradient(#0D0A10, #201317);
}

span.hamburger-box{
    color: white;
}

header {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-all {
    background-image: url(/assets/Ilustração\ Header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.container {
    z-index: 10;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.container p {
    width: 189px;
    color: #F2EFF5;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

#color-red {
    color: #EC1334;
}

#text-sec-all {
    margin-bottom: 50px;
}

#play {
    animation: grow-shrink 2s infinite;
    cursor: pointer;
}

@keyframes grow-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

.balao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.balao p {
    width: 250px;
    height: 44px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.balao p span {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.matricula {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 78px;
}

.hr {
    opacity: 0.6;
    width: 205px;
    flex-shrink: 0;
    opacity: 0.6;
    width: 205px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(236, 19, 52, 0.00) 0%, #EC1334 48.96%, rgba(236, 19, 52, 0.00) 100%);
    margin-top: 66px;
    margin-bottom: 53px;
}

.content {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.content h1 {
    width: 310px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.18px;
}

.content p {
    width: 312px;
    color: rgba(242, 239, 245, 0.80);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}

#px58{
    width: 60px;
    filter: brightness(50%);
}

.div-img {
    background-color: white;
    width: 312px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #D5CBD3;
}

.div-img img {
    margin-left: 10px;
}

.div-img input {
    height: 100%;
    width: 100%;
    border: none;
    outline: 0;
    border-radius: 8px;
}

.div-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#btn-matricula{
    height: 56px;
    padding: 16px;
    background-color: #EC1334;
    border: none;
    color: white;
    border-radius: 8px;

    margin-top: calc(24px - 8px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.depoimentos {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    margin-bottom: 160px;
}

.depoimentos h1 {
    margin-bottom: 30px;
}

.iframes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iframes iframe {
    height: 176px;
    width: 312px;
}

.sakura {
    display: flex;
    justify-content: space-between;
}

.sakura img {
    width: 150px;
}

.perfil {
    position: relative;
    background: linear-gradient(#18101500, #170F14, #1A111500);
    height: auto;
}


.div-balao-perfil {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
}

.elipse {
    display: flex;
    justify-content: center;
}

.foto {
    position: absolute;
    top: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#foto-dono {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-foto h1 {
    color: white;
    text-align: center;
    margin-top: 72px;
}

#info-perfil {
    color: #9A1226;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.13px;
}

.social {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0;
}

.description span {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.description {
    color: rgba(242, 239, 245, 0.80);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h1 {
    text-align: center;
    width: 310px;
}

.footer #btn-matricula {
    margin-bottom: 45px;
}

#termos .hr {
    margin: 20px;
}

#termos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2EFF5;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.direitos{
    margin-top: 45px;
    color: rgba(242, 239, 245, 0.80);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.direitos p {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

@media (min-width: 810px){
    .sec-all {
        background-image: url(/assets/Ilustração\ Header-desktop.png);
        background-size: 107% 100%;
    }

    .matricula .hr {
        display: none;
    }

    #bandeira {
        text-align: center;
        font-size: 38px;
        margin-bottom: 20px;
    }
    .content h1 {
        width: 420px;
    }
    .content p {
        width: 574px;
    }

    #seguranca p {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    #seguranca a {
        color: #FFF;

    }

    #seguranca {
        display: flex;
        gap: 11px;
    }

    #seguranca input {
        width: 20px;
        height: 20px;
    }

    .div-input .div-img {
        width: 100%;
    }

    #dragao {
        color: #F2EFF5;
        text-align: center;
        font-size: 38px;
        margin-top: 64px;
        margin-bottom: 16px;
    }

    .iframes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .depoimentos {
        margin-bottom: 15px;
    }

    .description{
        width: 489px;
        margin: 0 auto;
    }

    #termos {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 66px;
        margin-top: 66px;
    }

    .footer input#btn-matricula {
        margin: 0px;
    }

    .footer .hr {
        display: none;
    }

    .desktop {
        width: 100%;
        display: flex;
        gap: 17px;
        justify-content: center;
        margin-top: 70px;
    }

    .desktop a {
        color: #FFF;
        text-decoration: none;

    }
}

@media (max-width: 810px){
    #bandeira {
        display: none;
    }

    #seguranca {
        display: none;
    }

    #dragao {
        display: none;
    }

    footer .desktop {
        display: none;
    }
}